<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="scriptFragment">
<!-- Mainly scripts -->
<script src="/js/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<!-- Contact form JS-->
<script th:src="@{/assets/mail/jqBootstrapValidation.js}"></script>
<script th:src="@{/assets/mail/contact_me.js}"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</th:block>
</html>